{% extends "base.html" %}


{% block title %} {{ title }} {{ block.super }} {% endblock %}


{% block content %}

<div class="container">
  <h1 class="text-center"> {{ title }} </h1>
  <p class="text-center">{{ description }}</p>
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
      <form method="POST">{% csrf_token %}
        {{ form }}
        <button id="login" class="btn btn-md btn-danger" type="submit">{{ button }}</button>
      </form>
      {% if extra %}
      <br>
      <p>Don't have an account? <a class="text-danger" href="{% url 'pages:register_page' %}">Register here</a></p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}


{% block footer %} {{ block.super }} {% endblock %}
